<%- include('../templates/header.html') %>
<main>
  <div class="w-full max-w-xl mx-auto px-4">
    <div class="h-screen flex flex-col justify-center">
      <section class="space-y-6">
        <img
          src="/express.svg"
          alt="Express.js icon"
          class="w-32 h-8 object-cover object-center"
        />
        <ul class="list-inside list-decimal font-mono space-y-1">
          <li>
            Try
            <a
              href="/users"
              class="text-blue-700 transition-colors hover:text-blue-500"
              >/users</a
            >
            route to see how this route works.
          </li>
          <li>
            Read our docs
            <a
              href=""
              class="text-blue-700 transition-colors hover:text-blue-500"
              >here</a
            >.
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
<%- include('../templates/footer.html') %>
